.service-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service{
    margin: 20px;
    max-width: 400px;

    position: relative;
}

.service h3{
    text-align: center;
}




@media only screen and (max-width: 1173px){

    .service h3:hover{
        opacity: 0.75;
        cursor: pointer;
    }
    .service-info{
        // transform: scale(1,0);
        transition: opacity 0.25s ease-in-out, max-height 0.5s ease-in-out;
        transform-origin: top;
        opacity: 0;
        max-height: 0px;
    }
}
